<ul>
  {{#each tune in model}}
    <li>
      {{#link-to 'tune' tune}}
        {{tune.artist}},
        {{tune.title}}
      {{/link-to}}
    </li>
  {{else}}
    <li>No tunes found.</li>
  {{/each}}
</ul>