<nav>
  <div class="nav-wrapper orange">
  	{{#link-to 'tunes'}}
   	 	<a href="#" class="brand-logo center">d(-.-)b</a>
		{{/link-to}}
  </div>
</nav>

{{#link-to 'tunes' tagName='li'}}
  <a>Home</a>
{{/link-to}}
{{#link-to 'genres' tagName='li'}}
  <a>Genres</a>
{{/link-to}}
<hr>

<div class="container">
	{{outlet}}
</div>


{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}